[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivymd = "*"
matplotlib = "*"
googlesearch-python = "*"
wikipedia = "*"
bing-images = "*"
psutil = "*"
kivmob = "*"
buildozer = "*"
Cython = "*"
Kivy = "*"#"==2.0.0"
tk = "*"
pyjnius = "*"
kaki = "*"
python-dotenv = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.10"
